@if (products) {
  <div class="flex flex-col gap-4 p-2">

    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-3">

      <mat-paginator
        class="bg-white w-full md:w-auto"
        (page)="handlePageEvent($event)"
        [length]="products.count"
        [pageSize]="shopParams.pageSize"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="shopParams.pageIndex -1"
        aria-label="Select page"
      ></mat-paginator>

      <form
        #searchForm="ngForm"
        (ngSubmit)="onSearchChange()"
        class="relative flex items-center w-full md:w-1/3"
      >
        <input
          type="search"
          class="w-full p-3 text-sm text-gray-900 border-gray-300 rounded-lg border-2"
          placeholder="Search"
          name="search"
          [(ngModel)]="shopParams.search"
        />
        <button
          mat-icon-button
          type="submit"
          class="absolute top-1/2 right-9 -translate-y-1/2 flex items-center justify-center"
        >
          <mat-icon>search</mat-icon>
        </button>
      </form>

      <div class="flex flex-wrap justify-start md:justify-end gap-2 w-full md:w-auto">
        <button mat-stroked-button (click)="openFiltersDialog()">
          <mat-icon>filter_list</mat-icon>
          Filters
        </button>

        <button mat-stroked-button [mat-menu-trigger-for]="sortMenu">
          <mat-icon>swap_vert</mat-icon>
          Sort
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      @for (product of products.data; track product.id) {
        <app-product-item [product]="product"></app-product-item>
      }
    </div>
  </div>

  <mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
      @for (sort of sortOptions; track $index) {
        <mat-list-option
          [value]="sort.value"
          [selected]="shopParams.sort === sort.value"
        >
          {{sort.name}}
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-menu>
}
